S3method(MOAattributes,data.frame)
S3method(factorise,data.frame)
S3method(predict,MOA_classifier)
S3method(print,MOA_classifier)
S3method(print,MOAmodelOptions)
S3method(print,summary_MOA_classifier)
S3method(summary,MOA_classifier)
export(HoeffdingTree)
export(MOA_classifier)
export(MOAattributes)
export(MOAoptions)
export(datastream)
export(datastream_csv)
export(datastream_csv2)
export(datastream_dataframe)
export(datastream_delim)
export(datastream_delim2)
export(datastream_file)
export(datastream_table)
export(factorise)
export(trainMOA)
import(RMOAjars)
import(methods)
import(rJava)
