S3method(MOAattributes,data.frame)
S3method(factorise,data.frame)
S3method(predict,MOA_classifier)
S3method(print,MOA_classifier)
S3method(print,MOAmodelOptions)
S3method(summary,MOA_classifier)
export(HoeffdingTree)
export(MOAattributes)
export(MOAoptions)
export(factorise)
export(trainMOA)
import(RMOAjars)
import(rJava)
